<p id="notice"><%= notice %></p>

<p>
  <b>Script:</b>
  <%= @external_script.script %>
</p>


<%= link_to 'Edit', edit_external_script_path(@external_script) %> |
<%= link_to 'Back', external_scripts_path %>
