<h1>Select Landscape</h1>
<%= form_for @data[:landscape], :url => {:action => 'select_data'} do |f| %>
    <table>
      <tr>
        <td><%= f.select 'id', @data[:landscapes], {:include_blank => 'Please select landscape'} %></td>
        <td><%= f.submit 'Next' %></td>
      </tr>
    </table>

<% end %>