<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @properties_path.name %>
</p>


<%= link_to 'Edit', edit_properties_path_path(@properties_path) %> |
<%= link_to 'Back', properties_paths_path %>
